<div class="container mt-4">
  <div class="row">
      <!-- Primera columna: app-letter -->
      <div class="col-md-8 mb-3">
          <app-letter></app-letter>
      </div>
      
      <!-- Segunda columna: carrusel y music player -->
      <div class="col-md-4 d-flex flex-column">
          <!-- Carrusel con tamaño reducido -->
          <div class="flex-shrink-1 mb-3">
              <app-carousel></app-carousel>
          </div>
          
          <!-- Reproductor de música ocupando más espacio -->
          <div class="flex-grow-1">
              <app-music-player></app-music-player>
          </div>
      </div>
  </div>
</div>
