<div class="bodyhome">
    <div class="headerhome" >
        <h1>¡Cartita...!</h1>
        <p class="phome">Hi MyLu, te dejo esta cartita para decirte si quieres ser mi <b>Valentín</b>, pasar el 14 de Febrero juntos de la manito :3.</p>
    </div>
    
    <div class="mainhome">
        <div class="cardhome">
        <div class="texthome">
            <span><u>Últimamente te quiero decir...</u></span>
            <p class="subtitlehome">Querida Courtney,
                <br>El atardecer, un regalo, si proviene de ti
                <br>Tus ojos, misterio que admiro sin fin,
                <br>Tu tacto suave, caricia sutil,
                <br>Estrellas que brillan en tu ser, sin límite.
                <br>Tu sonrisa al alba, encanto sin igual,
                <br>Seduce mi ser, en su dulce ritual.
                <br>I LOVE U ❤️
            </p>
        </div>
        </div>
    
        <div class="enviarCorreo">
        <p>Espero tu respuesta :3.</p>
        <button class="learn-more" id="buttonhome" (click)="enviarCorreo()">¡Aceptar!</button>
        </div>
        </div>

        <audio #audioPlayer class="player__audio" [src]="file"></audio>
    
    <div class="audiohome container-center  ">
        <div class="audio-player">
        <div class="album-cover"></div>
        <div class="player-controls">
            <div class="song-info">
            <div class="song-title">Snow Flower (feat. Peakboy)</div>
            <p class="artist">V, Peakboy</p>
            </div>
            <div class="progress-bar">
            <div class="progress"></div>
            </div>
            <div class="buttons">
            <button class="play-btn" id="buttonhome"  (click)="playAudio()">
                ▶
            </button>
            <button class="pause-btn" id="buttonhome" (click)="pauseAudio()">
                ⏸
            </button>
            </div>
        </div>
        </div>
    </div>

</div>